MONGO_URI=mongodb://localhost:27017/db
REDIS_URI=redis://localhost:6379

TEST_MONGO_URI=mongodb://localhost:27017/testdb
TEST_REDIS_URI=redis://localhost:6379

# DD_LOGGING_ENABLE=false
# DD_API_KEY=<>
# DD_APP_NAME=<>

ETH_RPC=https://eth-mainnet.gateway.pokt.network/v1/5f3453978e354ab992c4da79
BSC_RPC=https://bsc-dataseed.binance.org/
ARB_RPC=https://arb1.arbitrum.io/rpc
AVAX_RPC=https://api.avax.network/ext/bc/C/rpc
POLYGON_RPC=https://polygon-rpc.com/
FTM_RPC=https://rpc.ftm.tools
HARMONY_RPC=https://a.api.s0.t.hmny.io/
BOBA_RPC=https://replica-oolong.boba.network/
MOVR_RPC=https://rpc.moonriver.moonbeam.network/
OPTIMISM_RPC=https://mainnet.optimism.io
AURORA_RPC=https://mainnet.aurora.dev
MOONBEAM_RPC=https://rpc.api.moonbeam.network
CRONOS_RPC=https://evm-cronos.crypto.org
METIS_RPC=https://andromeda.metis.io/?owner=1088
DFK_RPC=https://subnets.avax.network/defi-kingdoms/dfk-chain/rpc
KLAYTN_RPC=https://public-node-api.klaytnapi.com/v1/cypress
